@import "colors";

section.header {
    height: 850px;
    padding: 100px 0 0;
    background: $black;
    position: relative;
    overflow: hidden;

    h1,
    h3 {
        color: $white;
        margin: 0;
        font-weight: normal;
    }

    .earth-wrapper {
        position: absolute;
        z-index: 1;
        width: max-content;
        left: 50%;
        transform: translateX(-50%);
        bottom: -500px;

        img {
            position: relative;
            z-index: 5;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 2%;
            z-index: 4;
            width: 96%;
            height: 98%;
            background: transparent;
            box-shadow: 0 0 20px 14px #2c316e;
            border-radius: 50%;
        }

        &::before {
            content: "";
            position: absolute;
            top: 150px;
            left: 46%;
            transform: translateX(-50%);
            z-index: 6;
            width: 45px;
            height: 45px;
            background: #ccc;
            background: url("/assets/img/marker.png") no-repeat center center / contain;
            animation-name: marker;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
        }
    }
}


@keyframes marker {
    from {top: 50px;}
    to {top: 150px}
}